@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mike's Oscar Winning Web Site</h1>    
    <br />
    <br />
    <img src="~/images/OscarSmall.jpg" />
</div>
